@using Microsoft.AspNetCore.Identity
@using TrippyWeb.Model

@inject SignInManager<TrippyUser> SignInManager
@inject UserManager<TrippyUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item ms-lg-auto me-lg-1 my-1 my-lg-0">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.Name!</a>
    </li>
    <li class="nav-item mx-lg-1 my-1 my-lg-0">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-info px-2">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item ms-lg-auto me-lg-1 my-1 my-lg-0">
        <a class="nav-link btn btn-info px-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item mx-lg-1 my-1 my-lg-0">
        <a class="nav-link btn btn-info px-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
