@import "_fonts.scss";

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

html, body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}
