@import "_fonts.scss";

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;

    .content-wrapper {
        flex-grow: 1;
        position: relative;
    }

    main {
        margin-bottom: auto;
    }
}

footer {
    flex-grow: 0;
}

.toast-wrapper {
    position: absolute;
    bottom: 10%;
    right: 0.75rem;

    .toast {
        width: auto;
    }
}

.navbar .navbar-nav .nav-link {
    &:hover,
    &.active {
        text-decoration: underline;
    }
}

a:hover {
    color: var(--bs-success);
}

.validation-summary-valid {
    ul {
        margin-bottom: 0;
    }
}
