@page
@model TrippyWeb.Pages.Messages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Message.MessageID" />
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Message.CreatedDate" class="form-control" />
                        <label asp-for="Message.CreatedDate" class="control-label"></label>
                        <span asp-validation-for="Message.CreatedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Message.UserName" class="form-control" />
                        <label asp-for="Message.UserName" class="control-label"></label>
                        <span asp-validation-for="Message.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Message.Content" class="form-control" />
                        <label asp-for="Message.Content" class="control-label"></label>
                        <span asp-validation-for="Message.Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back</a>
</div>

@section Scripts {
    <partial name="../../Pages/Shared/_ValidationScriptsPartial" />
}
