@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Active trips</p>

    @foreach (var trip in Model.Records)
    {
        <p>@trip.Beginning @trip.Destination @trip.StartDate @trip.Owner.Name</p>
    }
</div>
